body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #222;
}

h2 {
    margin-top: 25px;
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
}